/* Overlay background */
.modal-overlay {
  position: fixed;
  inset: 0; /* shorthand for top:0; right:0; bottom:0; left:0 */
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

/* Modal box */
.modal {
  background: #0d1117;
  color: white;
  position: relative;
  width: 600px; /* fixed width */
  height: 300px;
  max-width: 90%; /* responsive on small screens */
  border-radius: 8px;
  border: 1px solid #30363d;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);

  z-index: 10000;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.firstBlock {
  border-bottom: 1px solid rgba(255, 255, 255, 0.76);
  width: 100%;
  padding: 12px;
}
.secondBlock {
  border-bottom: 1px solid rgba(255, 255, 255, 0.76);
  width: 100%;
  padding: 24px;
  text-align: center;
}

.thirdBlock {
  width: 100%;
  text-align: center;
}
/* Close button */
.close-btn {
  position: absolute;
  top: 5px;
  right: 12px;
  background: transparent;
  border: none;
  color: #8b949e;
  cursor: pointer;
  transition: color 0.2s;
}
.close-btn:hover {
  color: rgb(17, 0, 255) !important;
}

/* Title */
.modal-title {
  font-size: 18px;
  font-weight: 600;
}
.modal-title .highlight {
  color: #f85149;
}

/* Delete button */
.delete-btn {
  width: 90%; /* only within modal width */
  background: #f85149;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  font-weight: 600;
  color: white;
  cursor: pointer;
  transition: background 0.2s;
}
.delete-btn:hover {
  background: #da3633;
}
